* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
/* header Section */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header-logo {
  padding: 10px 0;
}

.header-logo img {
  width: 120px;
  height: 40px;
}

.header-menu {
  display: flex;
}

.header-menu li {
  margin-right: 40px;
  font-size: 15px;
  font-weight: 600;
}

.header-menu li:last-child {
  margin-right: 0;
}

.header-menu li a {
  color: black;
}

.flag-korea {
  width: 40px;
  height: 30px;
}

.header-menu__button {
  display: flex;
  align-items: center;
}

.header-menu__button i {
  font-size: 25px;
  margin-left: 20px;
  color: black;
}
